.image-template {
    width: 10rem;
    height: 100%; /* Adjust based on your font-size */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.standard {
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(68,68,68,1) 50%, rgba(34,34,34,1) 100%);
}
  
.purple-gradient {
    background: linear-gradient(120deg, #667eea, var(--purple));
}

.green-gradient {
    background: linear-gradient(120deg, rgb(59, 69, 255) 0%, rgba(60,253,45,1) 99%);
}

.blue-gradient {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(240, 166, 198) 0%, rgba(148,187,233,1) 100%);
}

.orange-gradient {
    background: linear-gradient(135deg, #f12711, #f5af19);
}

.cta-headline-container{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Allows content to flow vertically */
    align-items: center; /* Center aligns items horizontally */
}

.cta-headline{
    line-height: 1.5em;
    font-size: 10px;
    font-weight: 400;
    color: var(--offwhite);
    text-align: center;
    padding: 0 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block; /* Or 'block', depending on layout */
    width: 100%; /* Adjust as needed */
    white-space: normal;
}

.currency-cta-headline{
    line-height: 1.5em;
    font-size: 10px;
    font-weight: 400;
    color: var(--offwhite);
    text-align: center;
    padding: 0 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block; /* Or 'block', depending on layout */
    width: 100%; /* Adjust as needed */
    white-space: normal;
} 

.currency-div{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.currency-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    /* padding: .5rem; */
    margin: 1rem;
    border: solid 2px var(--offwhite);
    border-radius: 1rem;
}

.currency-amount h4 {
    font-size: 3rem;
    font-weight: 400;
}

.img-container{
    display: flex;
    justify-content: center;
    /* width: 10rem; */
    /* max-height: 10rem; */
}

.img-container img{
    border-radius: .5rem;
    /* width: 10rem; */
    /* max-height: 6rem; */
    height: 6rem;
    width: 6rem;
}

.currency-details-container{
    width: 13rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.currency-details-container p{
    font-size: 10px;
    color: var(--offwhite)
}

.item-details-container{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Allows content to flow vertically */
    align-items: center; /* Center aligns items horizontally */
}

.item-details-img-temp{
    line-height: 1.5em;
    font-size: 10px;
    font-weight: 400;
    color: var(--offwhite);
    text-align: center;
    padding: 0 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block; /* Or 'block', depending on layout */
    width: 100%; /* Adjust as needed */
    white-space: normal;
}