.slider-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider-button__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-button__label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider-button__label:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider-button__checkbox:checked + .slider-button__label {
  background-color: var(--purple);
}

.slider-button__checkbox:checked + .slider-button__label:before {
  transform: translateX(26px);
}
