.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }
  
  .modal.open {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 100000;
  }

  
  .modal-content-container {
    background-color: var(--darkgrayreid);
    padding: 20px;
    border-radius: .75rem;
    width: 80%;
    height: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .modal-content h2 {
    color: white;
  }

  .share-options {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .share-headline{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .share-options li {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .share-options li.highlighted {
    background-color: white; /* Highlight color */
    /* Other styles for highlighted item */
    border-radius: 2rem;
    width: 4rem;
    height: 3rem;
    margin: 0.25rem;
  }

  /* New rule for icon container within a highlighted list item */
  .share-options li.highlighted .icon-container {
    background-color: white; /* This will override the black background for the icon container */
    width: 4rem;
    height: 3rem;
    margin: 0.25rem;
  }
  
  .share-options .icon-container {
    width: 4rem;
    height: 3rem;
    background-color: black;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
  }
  
  .share-options i {
    font-size: 1.75rem;
    color: white;
  }

  .share-options li.highlighted .icon-container i {
    color: black;
  }
  
  .insta-steps-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .progress-circles-container{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .circle-icon{
    margin: 0 1rem;
    font-size: 12px;
  }

  .circle-icon.active{
    color: var(--purple); 
  }

  .step-descriptions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .step-descriptions-container p{
    font-size: .9rem;
  }

  .steps-container{
    display: flex;
    justify-content: center;
    /* margin: 0 0 1rem 0; */
    /* background-color: black; */
  }
  
  .step-image{
    height: 100%; 
    width: 100%; /* Adjust width automatically to maintain aspect ratio */
    display: block; /* Ensures the image is centered if smaller than container */
    object-fit: contain; /* Keeps the aspect ratio, adding empty space if necessary */
    overflow: hidden;
  }


  .overlay-gif{
    scale: .2;
  }

  .download-button-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    height: 100%;
    z-index: 1000000;
  }

  .share-button {
    /* display: flex; */
    color: white;
    background-color: var(--purple);
    border: none;
    font-size: 1rem;
    height: 3rem;
    width: 75%;
    /* margin: auto; */
    border-radius: 1.5rem;
  }

  .alert-and-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    z-index: 100002;
  }

  .alert {
    position: absolute;
    bottom: 18%;
    font-size: 14px;
    padding: 1rem;
  }

  .offscreen {
    position: absolute;
    left: -9999px;
    /* display: none; */
  }

  /* horizonal scroll for image generator */

  .steps-and-images-container {
    display: flex; /* Align children in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    overflow-x: scroll; /* Allow horizontal scrolling if content overflows */
    overflow-y:hidden;
    position: relative;
    z-index: 1;
    /* padding: 10px; */
    min-height: 17rem;
  }
    
  .image-row-container {
    display: flex; /* Align children (selected-image-container and image-selection-container) in a row */
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Prevent wrapping to a new line */
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  /* used for the step images, when the step is current */
  .selected-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .image-selection-container {
    display: flex; /* Use flexbox to layout children (thumbnails) in a row */
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    scroll-snap-type: x mandatory;
    /* scroll-padding-right: 100px; */
    z-index: 3;
    /* padding-right: 50px; */
  }

  .thumbnail {
    scroll-snap-align: start;
    flex: 0 0 auto; /* Ensure thumbnails don't stretch and have a fixed size */
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    height: 15rem;
    padding: 12px;
  }

  .image-row-container, .selected-image-container, .image-selection-container {
    scroll-snap-align: start; /* adjust according to your layout */
  }

  .image-selection-container.with-padding {
    padding-left: 50px; /* Padding applied only when this class is present */
  }

  .image-selection-container.with-padding .thumbnail:first-child {
    margin-left: 0; /* Remove left padding for the first thumbnail */
}

  .image-selection-container .thumbnail {
    cursor: pointer; /* Indicate that items are selectable */
    transition: transform 0.3s; /* Smooth transition for scaling */
    display: flex; /* Use flexbox to align the thumbnail content */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    min-width: 10rem;
    height: 15rem;
    padding: 12px;
  }
  
  .image-selection-container .thumbnail img {
    object-fit: cover; /* Adjust as needed */
    border: 2px solid transparent; /* Transparent border for a smooth transition when selected */
    border-radius: 1rem; /* Rounded corners for the images */
  }
  
.thumbnail.active {
    transform: scale(1.05); 
  }