.link-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: var(--offwhite);
    border-radius: 1rem;
    margin: 0 1rem;
}

.own-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.own-link-message {
    color: var(--offwhite);
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.link-creator-and-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    font-size: 12px;
    font-weight: 300;
}

.image-description-amount {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.image-description-amount img {
    max-height: 8rem;
    max-width: 8rem;
    border-radius: 1rem;
}

.image-amount-container{
    display: flex;
    margin: 2rem 0;
    width: 100%;
}

.link-right-side-container{
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bottom-right-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

.CTA-button-container{
    display: flex;
    justify-content: center;
}

.link-title-and-details{
    font-size: 16px;
    font-weight: 400;
    margin: 2rem;
}

.give-or-accept-button {
    width: 70%;
    height: 3.5rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    background-color: var(--purple);
    border: none;
    color: var(--offwhite);
    margin: 0;
    cursor: pointer;
}

.amount {
    color: rgb(0, 176, 26);
    font-weight: 800;
    margin-top: .5rem;
}

.currency-square{
    border: 1px solid var(--purple);
    font-size: 5rem;
    padding: 1rem;
    border-radius: 10px;
    height: 9rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}