.linktosinglepost{
    text-decoration: none;
    color: inherit;
}

.post {
    width: 100%;
    border-bottom: 1px solid var(--darkgray);

}

.postWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
      "profile info"
      "center-left center"
      "bottom-left bottom-right"
      "bottom-gifts-left bottom-gifts-right";
      margin-right: 1rem;
      overflow-x: hidden;
}

.postProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    grid-area: profile;
    margin: .5rem .5rem 0 .5rem;
}

.postTop{
    grid-area: info;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postTopRight{
    margin-right: 1rem;
    color: var(--gray);
}

@keyframes postOptionsTransition {
    0% {scale: 0;}
    90% {scale: 1.05;}
    100% {scale: 1;}
}

.post-options{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 9.5%;
    border-radius: 10px;
    background-color:rgba(50, 50, 50, 0.95);
    animation-name: postOptionsTransition;
    animation-duration: .25s;
}

.post-options-text {
    font-size: 16px;
    padding: .5rem 1.5rem .5rem .5rem;
    color: rgb(255, 46, 46);
}

.delete-icon{
    padding: .5rem;
    scale: 1.12;
    color:rgb(255, 46, 46);
}

.postTopLeft{
    display: flex;
    align-items: center;
}


.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    color: var(--white);
}

.postDate{
    font-size: 12px;
    color: var(--gray);
    font-weight: 200;
}

.postCenter {
    grid-area: center;
    height: 100%;
    overflow: hidden;
    margin-right: 1rem;
}

.browseGifts {
    display: flex;
    flex-direction: column; 
}

.postText {
    margin-bottom: 1rem;
    font-weight: 300;
    color: var(--white);
}
.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.amounts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    grid-area: center;

}

.giveMoney{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border: 1px solid var(--purple);
    font-size: 2rem;
    background-color: black;
}

.postBottom{
    grid-area: bottom-right;
    display: flex;
    justify-content: space-between;
    height: 1rem;
    margin: 1rem 1rem .5rem 0;
    color: var(--white);
    font-weight: 200;
}

.amountGave-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amountGave{
    font-size: 1rem;
    margin-left: 2px;
}

.currentcy-icon {
    font-size: 20px;
    font-weight: 500;
}

/* transitions for icons at bottom of post  */

@keyframes pop {
    0%, 100% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.25);
    }
  }

.currentcy-icon.highlight-green, .amountGave.highlight-green {
color: rgb(5, 255, 47);
animation: pop 0.25s ease;
}

.gifts-icon.highlight-purple, .gives.highlight-purple {
color: rgb(155, 5, 255);
animation: pop 0.25s ease;
}

.disabled {
    opacity: .35;
}

.gifts-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.gifts-icon {
    font-size: 20px;
}

.gives{
    font-size: 1rem;
    margin-left: 5px;
}

.share-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

.giftbox {
    margin-top: 1rem;
}

.gift-section-container {
    grid-area: bottom-gifts-right;
}