.searchbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 6rem;
    color: var(--lightgray);
}

.searchbar-container input {
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(8, 8, 8, 0.906);
    color: white;
    /* padding-left: 10px; */
    padding: 8px 45px 8px 10px;
    margin: auto;
    font-size: 15px;
    font-weight: 300;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 15px rgba(155, 5, 255, 0.6);  /* Add a purple glow */
    transition: all 0.3s ease; /* Add a smooth transition effect */
}

.searchbar-container input:focus {
    outline: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 15px rgba(5, 255, 38, 0.56); /* Enhance the purple glow on focus */
  }

  /* Chrome, Firefox, Opera, Safari 10.1+ */
input::-webkit-input-placeholder {
    color: var(--lightgray);
}

.search-icon {
    position: relative;
    left: -2rem;
    top: .5rem;
    transform: translateY(-50%);
    color: rgba(155,5,255);
    font-size: 1rem;
    transition: all 0.3s ease; /* Add a smooth transition effect */
}

.search-icon.focused {
    color: rgba(5, 255, 38, 0.56);
    
}
