:root {
  --gray: rgb(164, 164, 164);
  --darkgrayreid: rgb(21, 24, 25);
  --purple: rgb(120, 1, 199);
  --lime-green: rgb(96, 205, 0);
  --darkblack: rgba(8, 8, 8, 0.906);
  --offwhite: rgb(255, 255, 236);
  --white: #ffffff;
}

body {
  background-color: var(--darkgrayreid);
}

.top-bar-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 2rem 3.5rem 0 3.5rem;

}


.top-options{
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
