.single-conversation-container{
    width: 100%;
    max-height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem 0rem;
}

.left-side-container{
    margin: 0 2rem;
    flex: 0 0 auto;
}

.right-side-container{
    /* width: 100%; */
    flex: 1 1 auto;
    padding-right: 1rem;
}

.username-title{
    font-size: 16px;
    font-weight: 400;
    color: var(--offwhite);
    display: flex;
    align-items:flex-start;
}

.profile-picture{
    display: flex;
    justify-content: flex-start;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

.message-preview {
    font-size: 16px;
    font-weight: 100;
    color: var(--gray);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines you want */
    -webkit-box-orient: vertical;
    line-height: 1.2em; /* Adjust based on your font size */
    max-height: 2.4em; /* Twice the line-height */
}